body {
    width: 100vw;
    height: 100vh;

    font-family: 'Courier New', Courier, monospace;

    color: rgb(242,242,247);
    background-color: rgb(28,28,30);
}

#hero {
    width: 100%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
}

#menu {
    top: 0;
    left: 0;

    margin: 0.5em;
}

.absolute {
    position: absolute;
}

form {
    margin: 0.5em 0.5em 0.5em 1em;
}

td > input {
    margin: 0.5em 0.5em 0.5em 0.5em;

    color: rgb(242,242,247);
    background-color: rgb(72,72,75);
}

h1 {
    margin: 0.5em;
    color: rgb(255,45,85);
}

h2 {
    margin: 0.5em;
    color: rgb(48,209,88)
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(48,209,88);
}

a:visited {
    color: rgb(48,209,88);
}

a:hover {
    color: rgb(255,45,85);
}

a:active {
    color: rgb(48,209,88);
}

h4 {
    all: unset;
    text-decoration: none;
    color: rgb(48,209,88)
}

/* For nft page */
#image-list {
    padding: 1em;
}

td {
    vertical-align: top;
    text-align: left;
    border-top: 1px solid rgb(48,209,88);
}

td > img {
    vertical-align: middle;
    text-align: center;
}

img {
    margin: 1em;
}